@using HardaGroup.Utility;
@using System.Configuration;
@using HardaGroup.Web.Globalization;
@using HardaGroup.Models;
@{
    string cultureCode = GlobalizationHelp.GetCurrentThreadCultureCode();
    string cultureUri = GlobalizationHelp.GetCurrentThreadCultureUri();
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];

    var allDatas = (List<M_AboutSearch>)ViewData["allDatas"];
    var currentData = (M_AboutSearch)ViewData["currentData"];

    ViewBag.Title = currentData.TypeName+"|"+ language.AboutHarda;    
    
}

<style>
    .navbar-about {
        border: 1px solid gray;
        position: fixed;
        top: 150px;
        z-index: 10;
    }

    .about-content h2 {
        color: #337ab7;
        margin-top: 0px;
        font-weight: bold;
    }
    .aboutTabs li{
        width:100%;
    }
    .aboutTabs > li.active > a
    {
        color:#cd0200;
    }
</style>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-tabs aboutTabs">
                    @foreach (var about in allDatas)
                    {
                        <li>
                            <a href="@string.Format("{0}/about/{1}{2}", cultureUri,about.TypeCode, urlRewriteExtension)">
                                <strong>@about.TypeName</strong>
                            </a>
                        </li>
                    }
                </ul>

            </div>

            <div class="col-md-10">
                <div class="about-content">
                        <h2 class="customer-h2">@currentData.TypeName</h2>
                        @Html.Raw(currentData.Content)    

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {

        var url = window.location;
        var element = $('.aboutTabs a').filter(function () {
            return this.href == url || url.href.indexOf(this.href) == 0;
        }).parent().addClass('active');

    });
</script>



