@{
    ViewBag.Title = "智能制造";
}
<section>
    <div class="container">
        <h2 class="customer-h2 text-center">智能制造简介</h2>

        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive" src="~/images/medium_model.jpg"/>
            </div>
            <div class="col-md-7">
                <p class="customer-content-sm">华尔达扎根EMS电子制造10多年，已发展成为一家效率驱动型的一站式智能制造方案提供商，致力于精密模具、制造、采购、物流以及自动化等一系列服务。华尔达在深圳、天津设置了两个工业园，汇集了一批深谙高科技产品、精密制造的高素质员工，他们中超过90%具有丰富的专业技能和多年行业背景，能结合华尔达多年制造工程工艺技术的积累，使每批产品质量都能和设计预期保持稳定一致。
       华尔达推行“质量是研发出来的”质量核心价值观，也坚信“质量一致性”是制造出来的，并将全员的质量意识带入制造品质的每个流程，从分立物料到产品集成乃至物流的每一个细节都建立了严格的质量标准，并得到有效执行。华尔达科技的制造能力以先进的设施和管理为后盾，运用领先的柔性生产模式，能够精确匹配不同</p>
            </div>
        </div>
    </div>
</section>
<section class="jumbotron text-center">
    <div class="container">

        <h2 class="customer-h2 text-center">制造服务范围</h2>

        <div class="row">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="service-box">
                    <a href="" class="information-box">
                        <img class="img-responsive" src="~/images/small_model.jpg" />
                        @*<div class="information-box-caption">
                            <div class="information-box-caption-content">
                                div文字居中
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">
                            Fat-free
                        </h4>
                        <span class="customer-content-sm">
                            Lorem ipsum dolor sit amet
                            Lorem ipsum dolor sit amet

                        </span>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="service-box">
                    <a href="" class="information-box">
                        <img class="img-responsive" src="~/images/small_model.jpg" />
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">
                            Fat-free
                        </h4>
                        <span class="customer-content-sm">
                            Lorem ipsum dolor sit amet
                            Lorem ipsum dolor sit amet

                        </span>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="service-box">
                    <a href="" class="information-box">
                        <img class="img-responsive" src="~/images/small_model.jpg" />
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">
                            Fat-free
                        </h4>
                        <span class="customer-content-sm">
                            Lorem ipsum dolor sit amet
                            Lorem ipsum dolor sit amet

                        </span>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="service-box">
                    <a href="" class="information-box">
                        <img class="img-responsive" src="~/images/small_model.jpg" />
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">
                            Fat-free
                        </h4>
                        <span class="customer-content-sm">
                            Lorem ipsum dolor sit amet
                            Lorem ipsum dolor sit amet

                        </span>
                    </div>

                </div>
            </div>
        </div> <!-- /row  -->

    </div>
</section>
<section class="">
    <div class="container">

        <h2 class="customer-h2 text-center">制造服务特色</h2>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-digg wow bounceIn text-primary"></i>
                        <h3>Sturdy Templates</h3>
                        <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">We update dependencies to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div> <!-- /row  -->

    </div>
</section>