<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--邮件节点-->
  <mailsection>
    <smtpclients>
      <smtpclient type="QQSMTP" server="smtp.qq.com" username="2727954462@qq.com" displayname="HardaGroup(华尔达集团)"
                  password="aptnaagocerwdfhd" >

      </smtpclient>
    </smtpclients>
    <mails>
      <mail type="contactus" to="" cc=""></mail>
    </mails>
  </mailsection>

  <!--路径节点-->
  <pathsection>

    <path id="bgImageVirtualDirectory" value="/Upload/Images/Background/" description="背景图片虚拟目录"></path>

  </pathsection>

</configuration>
