@{
    Layout = null;
    var title = "HARDA|华尔达集团";
    if(!string.IsNullOrEmpty(ViewBag.Title))
    {
        title = ViewBag.Title+"|"+title;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Padmate Allen">

    <title>@title</title>
    <link rel="shortcut icon" href="~/images/favicon.png" />

    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="~/Content/main.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/Common.css">
    <link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="home">
    <!-- Fixed navbar -->
    
    
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="~/images/hardagroup_logo.png" alt="hardagroup"></a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav pull-right head-nav">
                    @if (ViewBag.From != "Default")
                    {
                        <li><a href="/">首页</a></li>

                    }
                    <li class="checkmenu"><a href="/Home/About">关于华尔达</a></li>
                    <li class="checkmenu"><a href="/IntelligentManufacturing/Index">智能制造</a></li>

                    <li class="dropdown checkmenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">解决方案 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://www.padmate.cn" target="_blank">智能产品及新型电子产品</a></li>
                            <li><a href="/Solution/ComponentProduct">组件产品</a></li>
                            <li><a href="http://www.harda.net" target="_blank">卫浴产品</a></li>
                            <li><a href="/Solution/Research">研发</a></li>

                        </ul>
                    </li>
                    <li class="checkmenu"><a href="/Innovation/Index">创新创业</a></li>
                    <li class="checkmenu"><a href="/Information/Index">媒体资讯</a></li>

                    <li class="checkmenu"><a href="/Home/JoinUs">加入华尔达</a></li>


                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/animatedheader.js"></script>

    @*<script src="~/Scripts/headroom.min.js"></script>
    <script src="~/Scripts/jQuery.headroom.min.js"></script>*@
    <script src="~/Scripts/template.js"></script>

    @RenderSection("scripts", required: false)

    @if (ViewBag.From != "Default")
    {
        <header>
            <div id="head-img" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://www.zowee.com.cn/upload/image/20160721/20160721171126_5312.jpg" alt="Third slide">
                    </div>
                </div>
            </div>

        </header>
    }
    <div>
        @RenderBody()

    </div>
   
    <footer id="footer" class="top-space">

        <div class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 widget">
                        <h3 class="widget-title">旗下网站</h3>
                        <div class="widget-body">
                            <ul>
                                <li>
                                    <a class="customer-content-xs"  href="http://www.xiamenip.cn">智能<sup>+</sup>创新创业公共服务平台</a>

                                </li>
                                <li>
                                    <a class="customer-content-xs" href="http://www.padmate.cn">派美特</a>

                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-4 widget">
                        <h3 class="widget-title">联系我们</h3>
                        <div class="widget-body">
                            <p>
                                +234 23 9873237<br>
                                <a href="mailto:#">some.email@somewhere.com</a><br>
                                <br>
                                234 Hidden Pond Road, Ashland City, TN 37015
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 widget">
                        <h3 class="widget-title">关注我们</h3>
                        <div class="widget-body">
                            <p class="follow-me-icons">
                                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                                <a href=""><i class="fa fa-github fa-2"></i></a>
                                <a href=""><i class="fa fa-facebook fa-2"></i></a>
                            </p>
                        </div>
                    </div>

                    

                </div> <!-- /row of widgets -->
            </div>
        </div>

        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 widget">
                    </div>

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="text-right">
                                Copyright © 2016-@DateTime.Now.Year All Rights Reserved
                                &nbsp;|&nbsp;
                                备案号:xxxxxxxxxxxx
                            </p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

    </footer>

</body>
</html>
