@{
    ViewBag.Title = "关于华尔达";
}
<style>
    .navbar-about {
        border: 1px solid gray;
        position: fixed;
        top: 150px;
        z-index: 10;
    }

    .about-content h2 {
        color: #337ab7;
        margin-top: 0px;
        font-weight: bold;
    }
</style>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-tabs" id="aboutTab">
                    <li class="active"><a href="#introduct"><strong>公司简介</strong></a></li>
                    <li><a href="#manageidea"><strong>经营理念</strong></a></li>
                    <li><a href="#companymanage"><strong>公司治理</strong></a></li>
                    <li><a href="#history"><strong>发展历程</strong></a></li>
                    <li><a href="#responsibility"><strong>社会责任</strong></a></li>
                    <li><a href="#managesystem"><strong>管理体系</strong></a></li>
                    <li><a href="#honour"><strong>得奖荣誉</strong></a></li>
                    <li><a href="#subcompany"><strong>分子公司</strong></a></li>
                </ul>

            </div>

            <div class="col-md-10">
                <div class="tab-content about-content">
                    <div class="tab-pane active" id="introduct">
                        <h2>公司简介</h2>
                        <hr />
                        <div>
                            <span style="line-height:250%;"><span style="font-size:18px;"><span style="color: rgb(68, 68, 68); widows: 1;">&nbsp; &nbsp;华尔达（厦门）塑胶有限公司，成立于2001年。华尔达与众多国际知名卫浴公司建立了长期合作伙伴关系，为客户提供产品概念设计、产品结构设计、模具开发、注塑生产和组装包装成品出货等等。华尔达拥有自己模具车间，注塑车间，精密冲压车间，喷涂和印刷流水线，抗静电净化组装车间以及产品测试实验室。2001年获得ISO9001质量体系认证，2014年即将通过ISO14000 和 QC080000 认证，获得国内外专利100多项。&nbsp;</span></span></span>
                        </div>
                        <p>
                            <span style="line-height:250%;"><span style="font-size:18px;"><span style="color: rgb(68, 68, 68); widows: 1;">&nbsp;&nbsp;公司以&quot;满足客户需求、引领市场需求&quot;为企业经营宗旨；以&quot;精益求精的品质、精耕细作的市场&quot;为生存支撑点；以&quot;诚信务实、创新发展、合作双赢&quot;为销售基础以&quot;高效率、高速度、高责任、高性价比&quot;为商务要素；以&quot;廉洁奉公、团结进取、博爱互助、以人为本、优化流程创造价值&quot;为企业行为准则。最终实现公司&quot;以客户为中心、以质量求生存，以管理求效益，以创新求发展&quot;的战略科学发展观！&nbsp;</span></span></span>
                        </p>
                        <div>
                            <span style="line-height:250%;"><span style="font-size:18px;"><span style="color: rgb(68, 68, 68); widows: 1;">&nbsp;&nbsp;公司下设厦门迈科思工业设计有限公司（设计中心）和深圳华尔达科技有限公司（研发中心），坚持以市场为导向，以客户为中心，以管理为重点，以科技创新为驱动，以信息化为载体，以核心竞争力为基础，力创一流企业，争当行业先锋。致力于成为最具竞争力的卫浴产品制造服务供应商</span></span></span>
                        </div>

                    </div>
                    <div class="tab-pane" id="manageidea">
                        <h2>经营理念</h2>
                        <hr />


                    </div>
                    <div class="tab-pane" id="companymanage">
                        <h2>公司治理</h2>
                        <hr />
                    </div>
                    <div class="tab-pane" id="history">
                        <h2>发展历程</h2>
                        <hr />
                    </div>
                    <div class="tab-pane" id="responsibility">
                        <h2>社会责任</h2>
                        <hr />
                    </div>
                    <div class="tab-pane" id="managesystem">
                        <h2>管理体系</h2>
                        <hr />
                    </div>
                    <div class="tab-pane" id="honour">
                        <h2>得奖荣誉</h2>
                        <hr />
                    </div>
                    <div class="tab-pane" id="subcompany">
                        <h2>分子公司</h2>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    $(function () {
        $('#aboutTab a:first').tab('show');//初始化显示哪个tab

        $('#aboutTab a').click(function (e) {
            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
        })
    })
</script>



