
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                @Html.Partial("_map")
            </div>
            <div class="col-md-4">
                <h3 class="customer-h3">
                    地址：福建省厦门市同安工业集中区湖里园37号
                </h3>
                <p class="customer-content-md">
                    <span>
                        电 话：+86-0592-5602075-624
                    </span>
                    <br />
                    <span style="padding-left:55px;">
                        +86-0592-5602075-685
                    </span>
                    <br />
                    <span>
                        传真：+86-0592-5602105-685
                    </span>

                </p>
                <br />
                <p class="customer-content-md">
                    <span>
                        联系人：彭先生
                    </span>
                    <br />
                    <span>
                        邮箱：billow@hardagroup.com
                    </span>
                    <br />
                    <span>
                        联系手机：+86-189-6510-7705
                    </span>
                    <br />
                    <span style="padding-left:55px;">
                        +86-138-6011-0212
                    </span>
                </p>
                <br />
                <p class="customer-content-md">
                    <span>
                        联系人：林小姐
                    </span>
                    <br />
                    <span>
                        邮箱：mei.lin@hardagroup.com
                    </span>

                    <br />
                    <span style="padding-left:55px;">
                        联系手机：+86-189-6510-9851
                    </span>
                </p>
            </div>
        </div>
        
        
    </div>
</section>