@{
    ViewBag.Title = "加入华尔达";
}



<section >
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="jobcontent-area">

                    <div class="job-content" id="job-content">
                        <div class="row job-content-row">
                            <div class="col-md-12">
                                <div>
                                    <h3 class="customer-h3 job-scope">软件</h3>

                                </div>
                                <div class="job-line">

                                    <p class="customer-content-sm">
                                        <strong>职位名称：</strong>
                                        IT工程师
                                    </p>
                                </div>
                                <div class="job-line">
                                    <p class="customer-content-sm">
                                        <strong>工作地点：</strong>厦门
                                    </p>

                                </div>
                                <div class="job-line">
                                    <p class="customer-content-sm">
                                        <strong>发布时间：</strong>2016/08/24 15:27:01

                                    </p>
                                </div>
                                <div class="job-line">
                                    <p class="customer-content-sm">
                                        <strong>职责需求：</strong>
                                        相信 - 孙燕姿
                                        突然觉得我只是一个人
                                        有点孤单浅浅的忧郁
                                        我不知道明天会不会很美丽
                                        虽然今天天很蓝
                                    </p>


                                </div>


                            </div>
                        </div>

                        <div class="row job-content-row">
                            <div class="col-md-12">
                                <div>
                                    <h3 class="customer-h3 job-scope">软件</h3>

                                </div>
                                <div class="job-line">

                                    <p class="customer-content-sm">
                                        <strong>职位名称：</strong>
                                        IT工程师
                                    </p>
                                </div>
                                <div class="job-line">
                                    <p class="customer-content-sm">
                                        <strong>工作地点：</strong>厦门
                                    </p>

                                </div>
                                <div class="job-line">
                                    <p class="customer-content-sm">
                                        <strong>发布时间：</strong>2016/08/24 15:27:01

                                    </p>
                                </div>
                                <div class="job-line">
                                    <p class="customer-content-sm">
                                        <strong>职责需求：</strong>
                                        相信 - 孙燕姿
                                        突然觉得我只是一个人
                                        有点孤单浅浅的忧郁
                                        我不知道明天会不会很美丽
                                        虽然今天天很蓝
                                    </p>


                                </div>


                            </div>
                        </div>
                        <div class="job-paginatorbar">
                            <ul id="job-paginator"></ul>
                        </div>
                    </div>
                </div>
             </div>
            <div class="col-is-4 col-sm-4 col-md-4">
                <div class="join-us-right">
                    <div class="hot-job">
                        <h3 class="customer-h3">高新职位</h3>
                        <p class="customer-content-sm">
                            IT工程师
                        </p>
                        <p class="customer-content-sm">
                            硬件工程师
                        </p>
                    </div>

                    <div class="company-activity">
                        <h3 class="customer-h3">公司活动</h3>
                        <div class="row">
                            <div class="col-md-4 company-activity-images">
                                <a href="#">
                                    <img class="img-responsive" src="~/images/login-bg1.jpg" />
                                </a>
                            </div>
                            <div class="col-md-4 company-activity-images">
                                <a href="#">
                                    <img class="img-responsive" src="~/images/small_model.jpg" />
                                </a>
                            </div>
                            <div class="col-md-4 company-activity-images">
                                <a href="#">
                                    <img class="img-responsive" src="~/images/small_model.jpg" />
                                </a>
                            </div>
                            <div class="col-md-4 company-activity-images">
                                <a href="#">
                                    <img class="img-responsive" src="~/images/news.png" />
                                </a>
                            </div>
                            <div class="col-md-4 company-activity-images">
                                <img class="img-responsive" src="~/images/small_model.jpg" />
                            </div>
                            <div class="col-md-4 company-activity-images">
                                <img class="img-responsive" src="~/images/loginuser.jpg" />
                            </div>
                            <div class="col-md-4 company-activity-images">
                                <img class="img-responsive" src="~/images/favicon.png" />
                            </div>
                            <div class="col-md-4 company-activity-images">
                                <img class="img-responsive" src="~/images/hardagroup_logo.png" />
                            </div>
                            <div class="col-md-4 company-activity-images">
                                <img class="img-responsive" src="~/images/small_model.jpg" />
                            </div>    
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>