@{
    ViewBag.Title = "加入华尔达";
}
<section>
    <div class="container">
        <div class="row">
            <h2 class="customer-h2">招聘信息</h2>

        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <h2 class="customer-h2">公司活动</h2>

        </div>
    </div>
</section>