@using HardaGroup.Web.Globalization;
@using HardaGroup.Models;
@using System.Configuration;
@using HardaGroup.Utility;
@{
    ViewBag.Title = "组件产品";

    string cultureUri = GlobalizationHelp.GetCurrentThreadCultureUri();
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];

    M_ModuleSearch content = (M_ModuleSearch)ViewData["content"];

}

<style>
    .component .row{
        margin-bottom:50px;
    }
</style>
<section>
    <div class="container component">
        <h2 class="customer-h2 text-center">组件产品</h2>

        <div class="row">
            @if (content != null)
            {
                @Html.Raw(content.Content)
            }
        </div>

        
    </div>
</section>