@using HardaGroup.Utility;
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "关于华尔达";

    
}

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12 col-is-12 col-sm-12 col-md-12">
            <div class="panel-group search-area" id="accordion">
                <div class="panel search-panel">
                    <div class="panel-heading">
                        <span class="customer-content-sm whitefont search-title">
                            <i class="fa fa-search"></i>检索条件
                        </span>
                        <a class="search-collapse searcharea-btn whitefont" data-toggle="collapse" data-parent="#accordion" href="#collapseSearch">
                            <i class="fa fa-chevron-down"></i>
                        </a>

                        <div class="clearfix"></div>
                    </div>
                    <div id="collapseSearch" class="panel-collapse collapse in">
                        <div class="panel-body">

                            <div class="col-xs-4 col-is-4 col-sm-4 col-md-4">
                                <label class="customer-content-xs">类别代码</label>
                                <input class="input-mediu" id="tbSearchTypeCode" />
                            </div>
                            <div class="col-xs-4 col-is-4 col-sm-4 col-md-4">
                                <label class="customer-content-xs">类别名称</label>
                                <input class="input-mediu" id="tbSearchTypeName" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-area">
                <div class="customer-toolbar">
                    <a id="btnAdd">
                        <i class="glyphicon glyphicon-plus"></i> 新 增
                    </a>
                    <a id="btnEdit">
                        <i class="glyphicon glyphicon-edit"></i> 修 改
                    </a>
                    <a id="btnDelete">
                        <i class="glyphicon glyphicon-remove"></i> 删 除
                    </a>
                    <a id="btnGlobalization">
                        <i class="glyphicon glyphicon-transfer"></i> 国际化
                    </a>
                    <a id="btnRefresh" class="searcharea-btn">
                        <i class="glyphicon fa-spin glyphicon-refresh"></i> 查 询
                    </a>

                </div>
                <div class="customer-table">
                    <table id="table"></table>

                </div>

            </div>


        </div>

    </div>

</section>

<!--#region新增-->
<div class="curd-model modal fade" id="aboutadd" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divAddContainer"></div>


        </div>
    </div>
</div>
<!--#endregion 修改-->
<!--#region修改-->
<div class="curd-model modal fade" id="aboutedit" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divEditContainer"></div>


        </div>
    </div>
</div>
<!--#region详细-->
<div class="curd-model modal fade" id="aboutdetail" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divAboutContainer"></div>


        </div>
    </div>
</div>
<!--#region国际化-->
<div class="curd-model modal fade" id="aboutGlobalization" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divGlobalizationContainer"></div>


        </div>
    </div>
</div>

<!--Script要放在HTML标签后，才能将值绑定到标签-->
<script type="text/javascript">
    $(document).ready(function () {
        InitTable();
        InitToolBarButton();
        InitModalEvent();
    });
    function InitTable()
    {
        $('#table').bootstrapTable({
            height:500,
            method: 'post',                 //The method type to request remote data.
            url: '/About/GetPageData',
            dataType: "json",               //The type of data that you are expecting back from the server.
            contentType:'application/json',
            pagination: true,               //True to show a pagination toolbar on table bottom.
            pageSize: 10,                   //初始化每页显示几条
            pageNumber:1,                   //初始化在第几页
            pageList: [10,25,50,100,200,'All'],
            sidePagination: "server",       //服务端请求
            idField:'Id',
            showRefresh:false,
            search: false,
            queryParams: ConstructQueryParams,
            //queryParamsType: "limit",
            locale: 'zh-CN',
            paginationVAlign: 'top',  //分页条显示在顶部
            //searchOnEnterKey:true,  //回车查询
            clickToSelect: true,     //单击行选中数据
            columns: [{
                checkbox: true
            },
            {
                field: 'Id',
                title: 'Id',
                visible:false,
            },
            {
                field: 'TypeCode',
                title: '类别代码',
                sortable: true

            },
            {
                field: 'TypeName',
                title: '类别名称',
                sortable: true

            },
            {
                field: 'Content',
                title: '内容',
                formatter: function (value, row, index) {
                    var result = '<a href="javaScript:void(0)" onclick="Detail(&apos;' + row.Id + '&apos;)">点击查看</a>';
                    return result;
                }

            },
            //{
            //    field: 'Culture',
            //    title: '国际化代码',
            //    sortable: true,
            //    width: '10%'

            //},
            {
                field: 'Sequence',
                title: 'Sequence',
                sortable: true,
                width:'10%'
            }
            ]
        });
    }
    function ConstructQueryParams(param)
    {
        var params = {
            limit: param.limit, //页面大小
            offset:param.offset,//偏移数量
            page: param.offset / param.limit, //页码
            TypeCode: $("#tbSearchTypeCode").val(),
            TypeName: $("#tbSearchTypeName").val()
        };
        return params;
    }

    function InitModalEvent() {
        $('#aboutadd').on('show.bs.modal', function () {
            //打开事件
        });

        $('#aboutadd').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divAddContainer").html("");

        })

        $('#aboutedit').on('show.bs.modal', function () {
            //打开事件
        });

        $('#aboutedit').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divEditContainer").html("");

        });
        $('#aboutdetail').on('show.bs.modal', function () {
            //打开事件
        });

        $('#aboutdetail').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divAboutContainer").html("");

        });
        $('#aboutGlobalization').on('show.bs.modal', function () {
            //打开事件
        });

        $('#aboutGlobalization').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divGlobalizationContainer").html("");

        });

    }

    function CloseAddScreen() {
        $('#aboutadd').modal('hide');

    }
    function CloseEditScreen() {
        $('#aboutedit').modal('hide');

    }
    function CloseGlobalizationScreen() {
        $('#aboutGlobalization').modal('hide');

    }

    function InitToolBarButton()
    {
        document.onkeydown = function (e) {
            var ev = document.all ? window.event : e;
            if (ev.keyCode == 13) {

                RefreshTable();
            }
        };

        $("#btnRefresh").click(function () {
            RefreshTable();
        });

        $("#btnAdd").click(function(){
            $('#aboutadd').modal('show');
            $("#divAddContainer").load("/About/Add");
        });

        $("#btnEdit").click(function () {

            var selections = $('#table').bootstrapTable('getSelections');
            if (selections.length == 0) {
                layer.alert("请选择要将要修改的数据", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            } else if (selections.length != 1)
            {
                layer.alert("只能选择一条数据进行修改", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            var id = selections[0].Id;
            $('#aboutedit').modal('show');
            $("#divEditContainer").load("/About/Edit?id=" + id);

        });

        $("#btnGlobalization").click(function () {

            var selections = $('#table').bootstrapTable('getSelections');
            if (selections.length == 0) {
                layer.alert("请选择要将要国际化的数据", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            } else if (selections.length != 1) {
                layer.alert("只能选择一条数据进行国际化", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            var id = selections[0].Id;
            $('#aboutGlobalization').modal('show');
            $("#divGlobalizationContainer").load("/About/Globalization?id=" + id);

        });


        $("#btnDelete").click(function(){
            var selections = $('#table').bootstrapTable('getSelections');
            if(selections.length == 0)
            {
                layer.alert("请选择要将要删除的数据", {
                    skin: 'layui-layer-molv'
                            ,closeBtn: 0
                            ,shift: 5 //动画类型
                });
                return ;
            }
            var aboutIds =[];
            for(var i=0;i<selections.length;i++)
            {
                var id = selections[i].Id;
                aboutIds.push(id);
            }
            //delete records
            var jsonContactId = JSON.stringify(aboutIds);
            $.ajax({
                type: "post",//使用get方法访问后台
                dataType: "json",//返回json格式的数据
                url: "/About/BachDeleteById",
                data: jsonContactId,
                async:false,
                success: function(message){
                    if(message.Success)
                    {
                        RefreshTable();
                    }else{
                        layer.alert(message.Content, {
                            skin: 'layui-layer-molv'
                            ,closeBtn: 0
                            ,shift: 5 //动画类型
                        });
                    }

                }
            });
        });
    }

    function Detail(id) {
        $('#aboutdetail').modal('show');
        $("#divAboutContainer").load("/About/Detail?id=" + id);
    }

    function RefreshTable()
    {
        $('#table').bootstrapTable('refresh');

    }
</script>
 