@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = (string)ViewData["type"];
    
}

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-md-12">
            背景图片管理 @ViewBag.Title


        </div>
        <!-- ./col -->
    </div>

</section>
