@using HardaGroup.Utility;
@using HardaGroup.Models;
@using System.Configuration;
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "招聘信息";

    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];
    var allJobScope = (List<M_JobScopeSearch>)ViewData["JobScope"];

}

<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-xs-12 col-is-12 col-sm-12 col-md-12">

        </div>

    </div>
    <div class="row">
        <div class="col-xs-12 col-is-12 col-sm-12 col-md-12">

           
            <div id="toolbar">
                <a id="btnAdd" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus"></i> 新 增
                </a>
                <a id="btnEdit" class="btn btn-info">
                    <i class="glyphicon glyphicon-edit"></i> 修 改
                </a>
                <a id="btnDelete" class="btn btn-danger">
                    <i class="glyphicon glyphicon-remove"></i> 删 除
                </a>
                <a id="btnGlobalization" class="btn btn-primary">
                    <i class="glyphicon glyphicon-transfer"></i> 国际化
                </a>

            </div>
            <table id="table"></table>
        </div>

    </div>

</section>

<!--#region新增-->
<div class="curd-model modal fade" id="jobadd" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divAddContainer"></div>


        </div>
    </div>
</div>
<!--#endregion 修改-->
<!--#region修改-->
<div class="curd-model modal fade" id="jobedit" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divEditContainer"></div>


        </div>
    </div>
</div>
<!--#region详细-->
<div class="curd-model modal fade" id="jobdetail" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divJobContainer"></div>


        </div>
    </div>
</div>
<!--#region国际化-->
<div class="curd-model modal fade" id="jobGlobalization" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divGlobalizationContainer"></div>


        </div>
    </div>
</div>

<!--Script要放在HTML标签后，才能将值绑定到标签-->
<script type="text/javascript">

    var lsJobScope = @Html.Raw(ViewData["jsonlsJobScope"]);
    var lsYesNo = @Html.Raw(ViewData["yesno"]);

    //bootstrap filter 选择项
    var JobScopeTableSelect = {};
    for (var i = 0; i < lsJobScope.length; i++) {
        JobScopeTableSelect[lsJobScope[i].Id] = lsJobScope[i].TypeName;

    }
    var YesNoTableSelect = {};
    for (var i = 0; i < lsYesNo.length; i++) {
        YesNoTableSelect[lsYesNo[i].Key] = lsYesNo[i].Value;

    }

    $(document).ready(function () {
        InitTable();
        InitToolBarButton();
        InitModalEvent();

        if(@allJobScope.Count ==0)
        {
            //询问框
            layer.confirm('请先在"职位分类"中添加职位分类数据', {
                btn: ['现在就去', '稍后再说'] //按钮
            }, function () {
                location.href = '@string.Format("/manage/job-scope{0}",urlRewriteExtension)';
            }, function () {

            });
        }

    });
    function InitTable()
    {
        $('#table').bootstrapTable({
            height:800,
            method: 'post',                 //The method type to request remote data.
            url: '/JoinUs/GetJobPageData',
            dataType: "json",               //The type of data that you are expecting back from the server.
            contentType:'application/json',
            pagination: true,               //True to show a pagination toolbar on table bottom.
            pageSize: 10,                   //初始化每页显示几条
            pageNumber:1,                   //初始化在第几页
            pageList: [10,25,50,100,200,'All'],
            sidePagination: "server",       //服务端请求
            idField:'Id',
            toolbar:'#toolbar',
            showRefresh:true,
            search:false,
            paginationVAlign:'bottom',  //分页条显示在顶部
            //searchOnEnterKey:true,  //回车查询
            clickToSelect:true,     //单击行选中数据
            queryParams: ConstructQueryParams,
            //queryParamsType: "limit",
            locale:'zh-CN',
            showColumns: true,
            showToggle: true,
            showExport: true, //数据导出
            exportDataType: 'basic', // 'basic', 'all', 'selected'.
            exportTypes: ['excel'],
            filterControl: true,   //显示过滤
            filterShowClear: true,  //显示清空过滤按钮
            columns: [{
                checkbox: true
            },
            {
                field: 'Id',
                title: 'Id',
                visible:false,
            },
            {
                field: 'JobScopeId',
                title: '职位分类',
                filterControl: 'select',
                filterData: 'var:JobScopeTableSelect',
                formatter: function (value, row, index) {
                    return DicJobScope(value);
                }

            },
            {
                field: 'Location',
                title: '工作地点',
                filterControl: "input"

            },
            {
                field: 'JobTitle',
                title: '职位名称',
                filterControl: "input"

            },
            {
                field: 'Description',
                title: '需求描述',
                formatter: function (value, row, index) {

                    var result = value;
                    if (result.length > 20) {
                        result = '<a class="custooltip" href="#">' + result.substr(0, 20) + '......<span class="classic">' + value + '</span></a>';

                    }
                    return result;
                }

            },
            {
                field: 'Content',
                title: '具体需求',
                formatter: function (value, row, index) {
                    var result = '<a href="javaScript:void(0)" onclick="Detail(&apos;' + row.Id + '&apos;)">点击查看</a>';
                    return result;
                }

            },
            {
                field: 'IsHot',
                title: '热门职位',
                filterControl: 'select',
                filterData: 'var:YesNoTableSelect',
                align:'center',
                formatter: function (value, row, index) {

                    var result ="否";
                    if (value) {
                        return "<font style='color:red;'>是</font>";
                    }
                    return result;
                }

            },
            {
                field: 'Pubtime',
                title: '发布时间',
                formatter: function (value, row, index) {

                    return JsonDateFormat2(value);
                }
            }
            ]
        });
    }


    function ConstructQueryParams(param)
    {
        var filterObj = {};
        if (param.filter != null) {
            filterObj = JSON.parse(param.filter);
        }

        var params = {
            limit: param.limit, //页面大小
            offset:param.offset,//偏移数量
            page: param.offset / param.limit, //页码
            Location:filterObj.Location == null ? "" : filterObj.Location,
            JobTitle: filterObj.JobTitle == null ? "" : filterObj.JobTitle,
            JobScopeId:filterObj.JobScopeId == null ? "" : filterObj.JobScopeId,
            IsHotSearch:filterObj.IsHot == null ? "" : filterObj.IsHot
        };
        return params;
    }

    function InitModalEvent() {
        $('#jobadd').on('show.bs.modal', function () {
            //打开事件
        });

        $('#jobadd').on('hide.bs.modal', function () {

            // 关闭事件
            $("#divAddContainer").html("");

        })

        $('#jobedit').on('show.bs.modal', function () {
            //打开事件
        });

        $('#jobedit').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divEditContainer").html("");

        });
        $('#jobdetail').on('show.bs.modal', function () {
            //打开事件
        });

        $('#jobdetail').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divJobContainer").html("");

        });
        $('#jobGlobalization').on('show.bs.modal', function () {
            //打开事件
        });

        $('#jobGlobalization').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divGlobalizationContainer").html("");

        });
    }

    function CloseAddScreen() {
        $('#jobadd').modal('hide');

    }
    function CloseEditScreen() {
        $('#jobedit').modal('hide');

    }
    function CloseGlobalizationScreen() {
        $('#jobGlobalization').modal('hide');

    }

    function InitToolBarButton()
    {

        document.onkeydown = function(e){
            var ev = document.all ? window.event : e;
            if(ev.keyCode==13) {

                RefreshTable();
            }
        };



        $("#btnAdd").click(function(){
            $('#jobadd').modal('show');
            $("#divAddContainer").load("/JoinUs/JobAdd");
        });

        $("#btnEdit").click(function () {

            var selections = $('#table').bootstrapTable('getSelections');
            if (selections.length == 0) {
                layer.alert("请选择要将要修改的数据", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            } else if (selections.length != 1)
            {
                layer.alert("只能选择一条数据进行修改", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            var id = selections[0].Id;
            $('#jobedit').modal('show');
            $("#divEditContainer").load("/JoinUs/JobEdit?jobId=" + id);

        });

        $("#btnGlobalization").click(function () {

            var selections = $('#table').bootstrapTable('getSelections');
            if (selections.length == 0) {
                layer.alert("请选择要将要国际化的数据", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            } else if (selections.length != 1)
            {
                layer.alert("只能选择一条数据进行国际化操作", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            var id = selections[0].Id;
            $('#jobGlobalization').modal('show');
            $("#divGlobalizationContainer").load("/JoinUs/JobGlobalization?jobId=" + id);

        });

        $("#btnDelete").click(function(){
            var selections = $('#table').bootstrapTable('getSelections');
            if(selections.length == 0)
            {
                layer.alert("请选择要将要删除的数据", {
                    skin: 'layui-layer-molv'
                            ,closeBtn: 0
                            ,shift: 5 //动画类型
                });
                return ;
            }
            var jobIds =[];
            for(var i=0;i<selections.length;i++)
            {
                var id = selections[i].Id;
                jobIds.push(id);
            }
            //delete records
            var jsonContactId = JSON.stringify(jobIds);
            $.ajax({
                type: "post",//使用get方法访问后台
                dataType: "json",//返回json格式的数据
                url: "/JoinUs/BachDeleteJobById",
                data: jsonContactId,
                async:false,
                success: function(message){
                    if(message.Success)
                    {
                        RefreshTable();
                    }else{
                        layer.alert(message.Content, {
                            skin: 'layui-layer-molv'
                            ,closeBtn: 0
                            ,shift: 5 //动画类型
                        });
                    }

                }
            });
        });
    }

    function Detail(id) {
        $('#jobdetail').modal('show');
        $("#divJobContainer").load("/JoinUs/JobDetail?jobId=" + id);
    }

    function RefreshTable()
    {
        $('#table').bootstrapTable('refresh');

    }

    function DicJobScope(value)
    {
        var result = value;
        for (var i = 0; i < lsJobScope.length;i++)
        {
            if (lsJobScope[i].Id == value)
            {
                result = lsJobScope[i].TypeName;
            }
        }
        return result;
    }
</script>
